.button {
  border-radius: 9999px;
  padding: 4px 14px;
  background-color: var(--c-primary);
  border: 1px solid var(--c-primary);
  color: #fff;
  font-weight: 700;
  text-align: center;
  min-width: 32px;
  min-height: 32px;
  flex-grow: 1;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
  }
  &:active {
    background-color: var(--c-primary-darker);
    border: 1px solid var(--c-primary-darker);
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: var(--c-primary) solid 2px;
    background-color: var(--c-primary-darker);
  }
}

.button--outline {
  background-color: transparent;
  color: var(--c-primary);
  &:active {
    background-color: #342b00;
  }
}

.button--thin {
  line-height: 1;
}
