.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  border-bottom: 1px solid #38444d;
}

.header__settings {
  position: relative;
  display: flex;
  align-items: center;
}

.header__settingsButton {
  display: inline-flex;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: currentColor solid 2px;
  }
}

.settingsPopup {
  position: absolute;
  top: 48px;
  right: 0;
  box-shadow: rgb(136 153 166 / 20%) 0px 0px 15px,
    rgb(136 153 166 / 15%) 0px 0px 3px 1px;
  background-color: var(--c-bg);
}

.settingsPopup__item {
}

.settingsPopup__link {
  display: flex;
  flex-direction: row;
  padding: 14px;
  gap: 8px 0;
  &:hover {
    background-color: rgb(25, 39, 52);
  }
}

.settingsPopup__linkIcon {
  display: flex;
}

.settingsPopup__linkText {
  line-height: 24px;
  white-space: nowrap;
}
