.timeline {
  margin-top: 16px;
  overflow-y: scroll;
}

.timeline__tweetContainer {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  border-bottom: 1px solid rgb(56, 68, 77);
  &:first-child {
    border-top: 1px solid rgb(56, 68, 77);
  }
}

.timeline__iconWrapper {
  margin-right: 12px;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
}

.timeline__icon {
  border-radius: 100%;
}

.timeline__tweet {
  font-size: 14px;
  color: #fff;
  flex-grow: 1;
}

.timeline__tweetText {
}

.timeline__tweetControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.timeline__icon {
  display: flex;
  height: 100%;
}

.timline__iconCount {
  margin-left: 2px;
  color: #aab8c2;
}
