.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.main__unAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__button {
  width: 300px;
  display: flex;
}
