.tweetForm {
  padding: 0 14px;
  position: sticky;
}

.tweetForm__formWrapper {
  margin-top: 12px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.tweetForm__textarea {
  height: 300px;
  width: 100%;
  color: #fff;
  resize: none;
  word-break: break-all;
  overflow-wrap: break-word;
  line-break: anywhere;
}

.tweetForm__controlWrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweetForm__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 12px;
}

.tweetForm__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweetForm__count {
  margin-right: 8px;
}

.tweetForm__count--over {
  color: rgb(244, 33, 46);
}
