.tweetForm {
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}

.tweetForm__formWrapper {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.tweetForm__textarea {
  height: 300px;
  width: 100%;
  color: #fff;
  resize: none;
  word-break: break-all;
  overflow-wrap: break-word;
  line-break: anywhere;
}

.tweetForm__controlWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweetForm__control {
  display: flex;
  height: 100%;
  padding: 4px;
  color: var(--c-primary);
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: currentColor solid 2px;
    border-radius: 50%;
  }
}

.tweetForm__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
}

.tweetForm__count {
  color: var(--c-primary);
}

.tweetForm__count--over {
  color: var(--c-error);
}
