.tweetForm {
  padding: 0 14px;
}

.tweetForm__iconList {
  padding: 8px 0;
}

.tweetForm__formWrapper {
  margin-top: 12px;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 1px solid #38444d;
}

.tweetForm__textarea {
  height: 300px;
  width: 100%;
}

.tweetForm__tweet {
  border-radius: 9999px;
  padding: 4px 14px;
  background-color: rgb(255, 212, 0);
  color: #fff;
}

.tweetForm__controlWrapper {
  margin-top: 12px;
}

.tweetForm__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
